.navbar{
    display: flex;
    width: 100%;
    height: auto;
    
}

.container{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    padding: 15px;
}

.logo{
    width:130px;
    margin: 5px 0;
}

.menu{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-end;
    padding: 10px 0;
    gap:20px
}

.menu a{
    font-size: 0.9rem;
    transition: all linear 160ms;
    color: #cbd5e1;
    text-decoration: none;
}

.menu a:hover{
    color: #a3e635;
}
