.list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list li {
    font-size: 18px;
    margin-bottom: 10px;
}

.title {
    margin-bottom: 10px;
}